<mat-card class="edit-card">
  <mat-card-header>
    <mat-card-title>
      <h1 *ngIf="carId; else newCar">Editing a Car</h1>
      <ng-template #newCar>
        <h1>New Car</h1>
      </ng-template>
    </mat-card-title>
  </mat-card-header>
  <form class="form" name="carForm" [formGroup]="carFormGroup">
    <mat-card-content>
      <div class="column">
        <p class="form-field">
          <mat-form-field>
            <mat-label>Vendor</mat-label>
            <mat-select
              formControlName="vendors"
              [(value)]="selectedVendorId"
              (selectionChange)="vendorSelected()"
              required
            >
              <mat-option
                *ngFor="let vendor of vendors | async"
                [value]="vendor.id"
              >
                {{ vendor.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            mat-mini-fab
            class="add-btn"
            (click)="openInputDialog('Vendor', 'name', addVendor.bind(this))"
          >
            <mat-icon>add</mat-icon>
          </button>
        </p>
        <p class="form-field">
          <mat-form-field>
            <mat-label>Model</mat-label>
            <mat-select
              formControlName="models"
              [(value)]="selectedModelId"
              required
            >
              <mat-option
                *ngFor="let model of models | async"
                [value]="model.id"
              >
                {{ model.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            mat-mini-fab
            class="add-btn"
            (click)="validateVendorSelection()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </p>
        <p class="form-field">
          <mat-form-field>
            <mat-label>Color</mat-label>
            <mat-select
              formControlName="colors"
              [(value)]="selectedColorId"
              required
            >
              <mat-option
                *ngFor="let color of colors | async"
                [value]="color.id"
              >
                {{ color.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            mat-mini-fab
            class="add-btn"
            (click)="openInputDialog('Color', 'name', addColor.bind(this))"
          >
            <mat-icon>add</mat-icon>
          </button>
        </p>
        <p class="form-field">
          <mat-form-field>
            <mat-label>Engine volume</mat-label>
            <mat-select
              formControlName="engineVolumes"
              [(value)]="selectedEngineVolumeId"
              required
            >
              <mat-option
                *ngFor="let engineVolume of engineVolumes | async"
                [value]="engineVolume.id"
              >
                {{ engineVolume.volume }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            mat-mini-fab
            class="add-btn"
            (click)="openInputDialog('Engine volume', 'value', addEngineVolume.bind(this))"
          >
            <mat-icon>add</mat-icon>
          </button>
        </p>
        <p>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Description"
              formControlName="description"
              [(ngModel)]="description"
            ></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="price-input-field">
            <input
              matInput
              placeholder="Price"
              type="number"
              min="1"
              formControlName="price"
              [(ngModel)]="price"
              required
            />
            <mat-icon matPrefix>
              attach_money
            </mat-icon>
          </mat-form-field>
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="carFormGroup.invalid"
        type="submit"
        mat-raised-button
        color="primary"
        (click)="saveCar()"
      >
        Save
      </button>
      <button mat-raised-button color="warn" routerLink="">
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
