.sidenav-container {
  min-height: 100vh;
}

.sidenav {
  min-width: 200px;
}

.filters-container {
  display: flex;
  flex-direction: column;
}

.filters-btn {
  margin: 10px;
}

.navigation-buttons {
  margin: 10px;

  button {
    margin-right: 15px;
  }
}

.hidden {
  visibility: hidden;
}
