.sidenav-container {
  height: 93vh;
}

.sidenav {
  max-width: 330px;
}

.filters-container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.filters-btn {
  margin: 10px;
  transition: visibility 0s, opacity 0.2s linear;
}

.navigation-buttons {
  margin: 10px;

  button {
    margin-right: 15px;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
