<mat-card class="car-card">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ car?.vendor.name }} {{ car?.model.name }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="prices-history">
      <div class="price-info">
        <p>{{ (this.car?.pricesHistory)[priceHistoryIndex]?.date | date }}</p>
        <p>
          {{ (this.car?.pricesHistory)[priceHistoryIndex]?.price | currency }}
        </p>
      </div>
      <div class="history-controls">
        <button
          mat-mini-fab
          (click)="priceHistoryIndex = priceHistoryIndex - 1"
          [disabled]="priceHistoryIndex === 0"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button
          mat-mini-fab
          (click)="priceHistoryIndex = priceHistoryIndex + 1"
          [disabled]="priceHistoryIndex === this.car?.pricesHistory?.length - 1"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
    <h2>Color: {{ this.car?.color.name }}</h2>
    <h2>Engine volume: {{this.car?.engineVolume.volume}}</h2>
    <h4 *ngIf="car?.description">Description: {{ this.car?.description }}</h4>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="editCar()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
  </mat-card-actions>
</mat-card>
