<mat-grid-list [cols]="cols" rowHeight="280px">
  <mat-grid-tile *ngFor="let car of cars" colspan="1" rowspan="1">
    <div class="car-tile">
      <mat-card class="car-tile-btn-container">
        <button
          mat-button
          class="car-tile-btn"
          (click)="selectedCar.emit(car.id)"
        >
          <mat-card-content>
            <h1 class="car-tile-btn-container__header">
              {{ car.vendor }} {{ car.model }}
            </h1>
            <h3>Color: {{ car.color }}</h3>
            <h2>{{ car.price | currency }}</h2>
          </mat-card-content>
        </button>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
