.text-center {
  text-align: center;
}

.mt-0 {
  margin-top: 0;
}

.expansion-panel {
  margin: 0 10px;
}

.search-btn {
  display: block;
  margin: 10px auto;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.price-range-icon {
  color: #9E9E9E;
}

.fs-2 {
  font-size: 1.2rem;
}

.w-80 {
  width: 80px;
}
